/* General */

body {
    margin: 0;
    font-family: "sans-serif";
}

/* Navbar */

#preamble {
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #353844;
    padding: 0.4em 0.7em;
    font-size: 1.2em;
}

header #navigationTitle {
    color: #FFFFFF;
}

header nav {
    align-self: flex-end;
}

header nav ul {
    margin: 0;
    display: flex;
}

header nav ul li {
    display: inline;
    padding: 0 0.5em;
}

header nav ul li a {
    color: #AAADA9;
    text-decoration: none;
}

/* aaada9 */

/* Content */
#content {
    margin: 0 auto;
    max-width: 1000px;
}

/* Site map */
#sitemap dd {
    color: #aaada9;
    font-style: italic;
    margin-left: 0.5em;
    margin-bottom: 1.4em;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.3em;
}

#sitemap a {
    color: #e16161;
    font-size: 1.3em;
    text-decoration: none;
}

/* Leaflet stuff */
.map {
    height: 600px;
    width: 800px;
    margin: 0 auto;
}
